TOKEN=123123:YOUR_BOT_TOKEN_HERE
API_ID=321321
API_HASH=YOUR_API_HASH_HERE
TENOR_API_KEY=
GEMINI_API_KEY=
SUPER_SUDOERS=123456789
SUDOERS=987654321
DATABASE_PATH=eduu.db
WORKERS=24
LOG_CHAT=123456789
PREFIXES=/,!
UPDATES_CHANNEL=
OWNER_URL=
SUPPORT_GROUP=
START_IMG_URL=
SPAM_FILTER_WORDS=bio
AUTO_REPLY_ENABLED=true
AUTO_DOWNLOAD_ENABLED=true
DISABLED_PLUGINS=
